#title {
	height: 2em;
	color: white;
	text-align: center;
}

#categories {
	display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
	padding: 1em;
	color: white;
}

#slide-show {
	display: inline-grid;
	grid-template-columns: 10% 80% 10%;
	width: 100%;
}

#midGround {
    display: flex;
    justify-content: space-around;
	padding: 3em;
}

.random-stuff {
	padding: 5em;
	margin: 5em;
	display: flex;
	
    justify-content: space-around;
	
}

.slide-button{
	display: flex;
	margin: auto;
	align-items: center;
	display: flex;
}